:root {
    --bg1: #292F36;
    --bg2: #1A1E23;
    --brand1: #12F7D6;
    --brand2: #98FAEC;
    --gray: #43454D;
    --white: #FFFFFF;
    --bg-text: 11.7rem;
    --h1-text: 6.4rem;
    --number-text: 4.8rem;
    --h2-text: 3.2rem;
    --menu-text: 2.4rem;
    --button-text: 2.0rem;
    --article-text: 1.6rem;
    --code-text: 1.4rem;
    --text-12px: 1.2rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    line-height: 1.6rem;
}

.grid {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

@media (width <=1024px) {
    html {
        font-size: 7.5px;
        line-height: 0.8rem;
    }
}