.container {
    background-color: var(--bg1);
}

.blog-title {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 64px;
}

.blog-text {
    font-family: "Ubuntu", sans-serif;
    color: var(--brand1);
    font-size: var(--h1-text);
    position: relative;
    /* Matching the turquoise text */
}

.blog-line {
    height: fit-content;
    width: 100%;
    text-align: center;
}

.blog-subtext {
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    min-height: 40px;
    color: var(--white);
    font-size: var(--article-text);
}

.blog-button-group {
    width: 100%;
    text-align: center;
}

.blog-button {
    color: var(--white);
    font-size: var(--button-text);
    padding: 16px 32px;
    min-width: 240px;
    margin-top: 64px;
    background: none;
    border: var(--brand1) solid 2px;
    border-radius: 32px;
    line-height: 24px;
}

.blog-button:hover {
    background: var(--brand1);
    color: var(--bg1);
    transition: background 0.5s, color 0.5s;
    cursor: pointer;
}

.line-with-circles {
    display: flex;
    align-items: center;
    width: 100%;
}

.line-with-circles .circle {
    width: 12px;
    height: 12px;
    background: var(--brand1);
    /* turquoise color */
    border-radius: 50%;
}

.line-with-circles .line {
    flex: 1;
    height: 2px;
    background: var(--brand1);
    /* turquoise color */
}

.blog-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-top: 64px;
    margin-bottom: 128px;
}



.blog-card {
    display: flex;
    align-items: center;
    max-width: 73%;
    padding: 64px 14px;
    gap: 64px;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.blog-card-img img {
    width: 240px;
    height: 240px;
    object-fit: contain;
}

.blog-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blog-card-title {
    color: var(--brand1);
    font-size: var(--h2-text);
}

.blog-card-title:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

.blog-card-desc {
    color: var(--white);
    font-size: var(--article-text);
    margin-top: 24px;
    font-weight: 300;
    line-height: 18px;
}

.blog-card-readmore {
    color: var(--brand1);
    font-size: var(--article-text);
    text-decoration: none;
    margin-top: 24px;
    font-weight: 300;
    line-height: 18px;

    transition: color 0.2s;
    display: flex;
    gap: 4px;
    width: fit-content;
}

.blog-card-readmore>div {
    border-bottom: solid 1px var(--white);
    width: fit-content;
    padding-bottom: 4px;
}

.blog-card-readmore:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

.blog-card-meta {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 28px;
    font-size: var(--code-text);
    color: var(--white);
    font-weight: 300;
}

.blog-card-meta>div {
    display: flex;
    gap: 8px;
}

.blog-card-tag {
    background: var(--gray);
    font-weight: lighter;
    color: var(--white);
    width: fit-content;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: var(--code-text);
    margin-right: 8px;
}

.blog-card-meta span {
    display: flex;
    gap: 8px;
}

.blog-card-meta b {
    font-weight: bold;
}

@media (width <=1024px) {
    .blogs {
        padding: 64px 24px 0 24px;
    }

    .blog-cards {
        gap: 64px;
        width: 100%;
        margin-top: 64px;
        margin-bottom: 64px;
        padding: 0px;
    }

    .blog-cards> :nth-child(1) {
        border-top: 1px solid var(--white);
    }

    .blog-card {
        flex-direction: column;
        align-items: center;
        text-align: start;
        gap: 32px;
        border-top: none;
        padding: 32px 11px;
        max-width: 100%;
        margin: 0;
    }

    .blog-card-content {
        padding: 0 24px;
    }

    .blog-card-img img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    .blog-card-meta {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .blog-card-meta>div {
        display: flex;
        gap: 8px;
    }

}